@import "tailwindcss";

/**
 * EXPLICAÇÃO TÉCNICA:
 * No Tailwind v4, o @theme registra as variáveis para serem usadas como classes (ex: text-primaria).
 */
@theme {
    /* PALETA PRINCIPAL - Manual 2026 */
    --color-primaria: #1c314c;
    --color-secundaria: #00a7db;
    --color-preto: #000000;
    --color-branco: #ffffff;

    /* PALETA COMPLEMENTAR */
    --color-royal: #2837a0;
    --color-marinho: #212950;
    --color-roxo: #9628a5;
    --color-lilas: #c85ff0;
    --color-uva: #320f4b;

    /* TIPOGRAFIA - Conectando com as variáveis do layout.tsx */
    --font-principal: var(--font-carrois), sans-serif;
    --font-titulo: var(--font-montserrat), sans-serif;
    --font-aesthetic: var(--font-poppins), sans-serif;
}

/* LUZ ROXA DE FUNDO (AMBIENTAL) */
.glow-purple {
    /* O aumento do blur e do tamanho (vw/vh) cria um preenchimento muito mais denso e cinematográfico */
    @apply w-[120vw] h-[120vw] md:w-[80vw] md:h-[80vw] rounded-full opacity-50 blur-[80px] md:blur-[120px] pointer-events-none z-0;
    background: radial-gradient(circle, var(--color-roxo) 5%, transparent 65%);
}

/* LUZ AZUL DE FUNDO (AMBIENTAL) */
.glow-blue {
    @apply w-[120vw] h-[120vw] md:w-[90vw] md:h-[90vw] rounded-full opacity-40 blur-[80px] md:blur-[120px] pointer-events-none z-0;
    background: radial-gradient(circle, var(--color-secundaria) 5%, transparent 65%);
}

@layer base {
    body {
        @apply bg-preto text-branco font-principal antialiased;
    }
}